In [1]:
import pandas as pd
import numpy as np

In [2]:
DF_bs = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_samples.csv")

In [3]:
DF_bs_index = DF_bs.set_index('otu_id').head()

In [5]:
DF_columns = list(DF_bs_index)
DF_columns

['BB_940',
 'BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']

In [6]:
results = DF_columns
#results

In [7]:
DF_list = list(np.ravel(results))
DF_list

['BB_940',
 'BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']

In [8]:
DF_otu = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_otu_id.csv")

In [9]:
DF_otu_index = DF_otu.set_index('otu_id')

In [10]:
DF_otu_index.head()

                              lowest_taxonomic_unit_found
otu_id
1       Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       Archaea;Euryarchaeota;Halobacteria;Halobacteri...
4       Archaea;Euryarchaeota;Methanobacteria;Methanob...
5       Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [11]:
DF_md = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_Metadata.csv")

In [12]:
DF_md_index = DF_md.set_index('SAMPLEID')
DF_md_index.head()

,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,COUNTRY1319,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,usa,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,usa,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,usa,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [13]:
sample = 'BB_940'

In [14]:
sampleID = int(sample.replace("BB_",""))
sampleID

940

In [15]:
results =  DF_md_index.loc[sampleID]
results

EVENT             BellyButtonsScienceOnline
ETHNICITY                         Caucasian
GENDER                                    F
AGE                                      24
WFREQ                                     2
BBTYPE                                    I
LOCATION                        Beaufort/NC
COUNTRY012                              usa
ZIP012                                22306
COUNTRY1319                             usa
ZIP1319                               22306
DOG                                      no
CAT                                      no
IMPSURFACE013                          8852
NPP013                              37.1722
MMAXTEMP013                            54.5
PFC013                                  NaN
IMPSURFACE1319                            1
NPP1319                                 NaN
MMAXTEMP1319                          33.99
PFC1319                                25.5
Name: 940, dtype: object

In [16]:
results = results[["AGE","BBTYPE","ETHNICITY","GENDER","LOCATION","SAMPLEID"]]
results["SAMPLEID"] = sampleID

In [17]:
results.to_dict()

{'AGE': 24.0,
 'BBTYPE': 'I',
 'ETHNICITY': 'Caucasian',
 'GENDER': 'F',
 'LOCATION': 'Beaufort/NC',
 'SAMPLEID': 940}

In [18]:
DF_wf = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_Metadata.csv")

In [19]:
DF_wf_index = DF_md.set_index('SAMPLEID')
DF_wf_index.head()

,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,COUNTRY1319,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
SAMPLEID,,,,,,,,,,,,,,,,,,,,,
940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,usa,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,usa,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,usa,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [20]:
DF_wf_id = DF_wf_index.loc[[sampleID],['WFREQ']]
DF_wf_id

          WFREQ
SAMPLEID
940         2.0

In [21]:
results = DF_wf_id["WFREQ"].item()

In [22]:
results

2.0

In [23]:
DF_samples = pd.read_csv("Instructions\DataSets\Belly_Button_Biodiversity_Samples.csv")

In [32]:
sample = 'BB_940'

In [33]:
DF_sample_filter = DF_samples.filter(items = [sample,'otu_id'])
DF_sample_filter.head()

   BB_940  otu_id
0     0.0       1
1     0.0       2
2     0.0       3
3     0.0       4
4     0.0       5

In [43]:
DF_sample_sort = DF_sample_filter.sort_values(by=sample, ascending=False)
DF_sample_sort

      BB_940  otu_id
1166   163.0    1167
2858   126.0    2859
481    113.0     482
2263    78.0    2264
40      71.0      41
1188    51.0    1189
351     50.0     352
188     47.0     189
2317    40.0    2318
1976    40.0    1977
3449    37.0    3450
873     36.0     874
1958    30.0    1959
2190    28.0    2191
1949    25.0    1950
2076    23.0    2077
2274    22.0    2275
2183    19.0    2184
943     19.0     944
2243    14.0    2244
2418    13.0    2419
2023    13.0    2024
2810    13.0    2811
2781    12.0    2782
164     12.0     165
2395    11.0    2396
2246    11.0    2247
2010    11.0    2011
829     10.0     830
1794    10.0    1795
...      ...     ...
1314     0.0    1315
1289     0.0    1290
1288     0.0    1289
1287     0.0    1288
1286     0.0    1287
1262     0.0    1263
1263     0.0    1264
1264     0.0    1265
1265     0.0    1266
1266     0.0    1267
1267     0.0    1268
1268     0.0    1269
1269     0.0    1270
1270     0.0    1271
1271     0.0    1272
1272     0.0    1273
1274     0.0    1275
1275     0.0    1276
1276     0.0    1277
1277     0.0    1278
1278     0.0    1279
1279     0.0    1280
1280     0.0    1281
1281     0.0    1282
1282     0.0    1283
1283     0.0    1284
1284     0.0    1285
1285     0.0    1286
3673     0.0    3674
3461     NaN    3462

[3674 rows x 2 columns]

In [44]:
DF_sample_nonzero_nan = DF_sample_sort[DF_sample_sort > 0]
DF_sample_nonzero = DF_sample_nonzero_nan.dropna()
DF_sample_nonzero.head()

      BB_940  otu_id
1166   163.0    1167
2858   126.0    2859
481    113.0     482
2263    78.0    2264
40      71.0      41

In [47]:
sample_values = DF_sample_nonzero[sample].tolist()
sample_values

[163.0,
 126.0,
 113.0,
 78.0,
 71.0,
 51.0,
 50.0,
 47.0,
 40.0,
 40.0,
 37.0,
 36.0,
 30.0,
 28.0,
 25.0,
 23.0,
 22.0,
 19.0,
 19.0,
 14.0,
 13.0,
 13.0,
 13.0,
 12.0,
 12.0,
 11.0,
 11.0,
 11.0,
 10.0,
 10.0,
 10.0,
 8.0,
 7.0,
 7.0,
 7.0,
 6.0,
 5.0,
 5.0,
 5.0,
 4.0,
 4.0,
 4.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 3.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0]

In [49]:
otu_ids = DF_sample_nonzero['otu_id'].tolist()
otu_ids

[1167,
 2859,
 482,
 2264,
 41,
 1189,
 352,
 189,
 2318,
 1977,
 3450,
 874,
 1959,
 2191,
 1950,
 2077,
 2275,
 2184,
 944,
 2244,
 2419,
 2024,
 2811,
 2782,
 165,
 2396,
 2247,
 2011,
 830,
 1795,
 2964,
 2722,
 2178,
 307,
 2908,
 1193,
 1208,
 2039,
 2167,
 1274,
 2739,
 2737,
 2936,
 1962,
 2335,
 833,
 1314,
 2186,
 907,
 2546,
 121,
 357,
 1169,
 2110,
 725,
 2571,
 1232,
 340,
 259,
 1960,
 258,
 342,
 1968,
 2188,
 170,
 2491,
 1505,
 2291,
 1497,
 412,
 1503,
 2475,
 2235,
 159,
 513,
 2065,
 2342,
 2350,
 2483,
 1498,
 198,
 244,
 2949,
 2062,
 3427,
 1174,
 2054,
 2136,
 1179,
 185,
 1115,
 2051,
 791,
 3439,
 794,
 1155,
 246,
 235,
 3453,
 2917,
 2096,
 1191,
 2915,
 2093,
 226,
 821,
 1159,
 2114,
 2115,
 2084,
 2080,
 2068,
 841,
 2603,
 2752,
 2968,
 2268,
 386,
 2229,
 1254,
 400,
 2508,
 404,
 407,
 414,
 1524,
 2256,
 1515,
 2263,
 1502,
 381,
 1501,
 1496,
 1495,
 2473,
 1484,
 650,
 2750,
 620,
 2334,
 2423,
 2413,
 593,
 1243,
 2217,
 300,
 2633,
 1199,
 2165,
 314,
 320,
 2985,
 2549,
 2989,
 327,
 328,
 1600,
 2994,
 2542,
 1217,
 2216,
 2192,
 2539,
 2197,
 728,
 1223,
 1576,
 2202,
 359,
 361,
 1227,
 2212,
 373,
 854,
 564,
 881,
 133,
 19,
 1954,
 79,
 1984,
 81,
 154,
 2829,
 84,
 2758,
 1965,
 1935,
 1094,
 2820,
 2852,
 11,
 93,
 102,
 922,
 42,
 39,
 2795,
 919,
 866,
 2036,
 22,
 2837,
 2876,
 2040,
 1944,
 2840,
 24,
 122,
 2873,
 2753,
 1991,
 1947,
 1997]

In [50]:
DF_sample_index = [{'otu_ids':otu_ids,'sample_values':sample_values}]

In [51]:
results = DF_sample_index
results

[{'otu_ids': [1167,
   2859,
   482,
   2264,
   41,
   1189,
   352,
   189,
   2318,
   1977,
   3450,
   874,
   1959,
   2191,
   1950,
   2077,
   2275,
   2184,
   944,
   2244,
   2419,
   2024,
   2811,
   2782,
   165,
   2396,
   2247,
   2011,
   830,
   1795,
   2964,
   2722,
   2178,
   307,
   2908,
   1193,
   1208,
   2039,
   2167,
   1274,
   2739,
   2737,
   2936,
   1962,
   2335,
   833,
   1314,
   2186,
   907,
   2546,
   121,
   357,
   1169,
   2110,
   725,
   2571,
   1232,
   340,
   259,
   1960,
   258,
   342,
   1968,
   2188,
   170,
   2491,
   1505,
   2291,
   1497,
   412,
   1503,
   2475,
   2235,
   159,
   513,
   2065,
   2342,
   2350,
   2483,
   1498,
   198,
   244,
   2949,
   2062,
   3427,
   1174,
   2054,
   2136,
   1179,
   185,
   1115,
   2051,
   791,
   3439,
   794,
   1155,
   246,
   235,
   3453,
   2917,
   2096,
   1191,
   2915,
   2093,
   226,
   821,
   1159,
   2114,
   2115,
   2084,
   2080,
   2068,
   841,
   2603,
   2752,
   2968,
   2268,
   386,
   2229,
   1254,
   400,
   2508,
   404,
   407,
   414,
   1524,
   2256,
   1515,
   2263,
   1502,
   381,
   1501,
   1496,
   1495,
   2473,
   1484,
   650,
   2750,
   620,
   2334,
   2423,
   2413,
   593,
   1243,
   2217,
   300,
   2633,
   1199,
   2165,
   314,
   320,
   2985,
   2549,
   2989,
   327,
   328,
   1600,
   2994,
   2542,
   1217,
   2216,
   2192,
   2539,
   2197,
   728,
   1223,
   1576,
   2202,
   359,
   361,
   1227,
   2212,
   373,
   854,
   564,
   881,
   133,
   19,
   1954,
   79,
   1984,
   81,
   154,
   2829,
   84,
   2758,
   1965,
   1935,
   1094,
   2820,
   2852,
   11,
   93,
   102,
   922,
   42,
   39,
   2795,
   919,
   866,
   2036,
   22,
   2837,
   2876,
   2040,
   1944,
   2840,
   24,
   122,
   2873,
   2753,
   1991,
   1947,
   1997],
  'sample_values': [163.0,
   126.0,
   113.0,
   78.0,
   71.0,
   51.0,
   50.0,
   47.0,
   40.0,
   40.0,
   37.0,
   36.0,
   30.0,
   28.0,
   25.0,
   23.0,
   22.0,
   19.0,
   19.0,
   14.0,
   13.0,
   13.0,
   13.0,
   12.0,
   12.0,
   11.0,
   11.0,
   11.0,
   10.0,
   10.0,
   10.0,
   8.0,
   7.0,
   7.0,
   7.0,
   6.0,
   5.0,
   5.0,
   5.0,
   4.0,
   4.0,
   4.0,
   3.0,
   3.0,
   3.0,
   3.0,
   3.0,
   3.0,
   3.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0]}]

In [54]:
DF_list = list(np.ravel(results))
DF_list

[{'otu_ids': [1167,
   2859,
   482,
   2264,
   41,
   1189,
   352,
   189,
   2318,
   1977,
   3450,
   874,
   1959,
   2191,
   1950,
   2077,
   2275,
   2184,
   944,
   2244,
   2419,
   2024,
   2811,
   2782,
   165,
   2396,
   2247,
   2011,
   830,
   1795,
   2964,
   2722,
   2178,
   307,
   2908,
   1193,
   1208,
   2039,
   2167,
   1274,
   2739,
   2737,
   2936,
   1962,
   2335,
   833,
   1314,
   2186,
   907,
   2546,
   121,
   357,
   1169,
   2110,
   725,
   2571,
   1232,
   340,
   259,
   1960,
   258,
   342,
   1968,
   2188,
   170,
   2491,
   1505,
   2291,
   1497,
   412,
   1503,
   2475,
   2235,
   159,
   513,
   2065,
   2342,
   2350,
   2483,
   1498,
   198,
   244,
   2949,
   2062,
   3427,
   1174,
   2054,
   2136,
   1179,
   185,
   1115,
   2051,
   791,
   3439,
   794,
   1155,
   246,
   235,
   3453,
   2917,
   2096,
   1191,
   2915,
   2093,
   226,
   821,
   1159,
   2114,
   2115,
   2084,
   2080,
   2068,
   841,
   2603,
   2752,
   2968,
   2268,
   386,
   2229,
   1254,
   400,
   2508,
   404,
   407,
   414,
   1524,
   2256,
   1515,
   2263,
   1502,
   381,
   1501,
   1496,
   1495,
   2473,
   1484,
   650,
   2750,
   620,
   2334,
   2423,
   2413,
   593,
   1243,
   2217,
   300,
   2633,
   1199,
   2165,
   314,
   320,
   2985,
   2549,
   2989,
   327,
   328,
   1600,
   2994,
   2542,
   1217,
   2216,
   2192,
   2539,
   2197,
   728,
   1223,
   1576,
   2202,
   359,
   361,
   1227,
   2212,
   373,
   854,
   564,
   881,
   133,
   19,
   1954,
   79,
   1984,
   81,
   154,
   2829,
   84,
   2758,
   1965,
   1935,
   1094,
   2820,
   2852,
   11,
   93,
   102,
   922,
   42,
   39,
   2795,
   919,
   866,
   2036,
   22,
   2837,
   2876,
   2040,
   1944,
   2840,
   24,
   122,
   2873,
   2753,
   1991,
   1947,
   1997],
  'sample_values': [163.0,
   126.0,
   113.0,
   78.0,
   71.0,
   51.0,
   50.0,
   47.0,
   40.0,
   40.0,
   37.0,
   36.0,
   30.0,
   28.0,
   25.0,
   23.0,
   22.0,
   19.0,
   19.0,
   14.0,
   13.0,
   13.0,
   13.0,
   12.0,
   12.0,
   11.0,
   11.0,
   11.0,
   10.0,
   10.0,
   10.0,
   8.0,
   7.0,
   7.0,
   7.0,
   6.0,
   5.0,
   5.0,
   5.0,
   4.0,
   4.0,
   4.0,
   3.0,
   3.0,
   3.0,
   3.0,
   3.0,
   3.0,
   3.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   2.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0,
   1.0]}]